body{
    background-color: #343A40;
}
.car-calc-blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bigImg img {
    max-width: 500px;
    width: 100%;
    border: 5px solid #55CFAB;
}
.blockDop {
    background: #eee;
    margin: 10px 0px;
    padding: 15px;
    box-shadow: 2px 2px 5px #55cfab;
    font-size: 20px;
}
.blockDopcheckbox input {
    margin: 8px 0px;
}
.blockDopdayNumber input {
    border: 1px solid #dbdbdb;
    padding: 10px 20px;
    border-radius: 5px;
}

.container_call_back input[type="text"] {
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #55cfab;
    margin: 4px 0px;
}
.container_call_back {
    display: flex;
    justify-content: center;
}
.container_call_back input[type="submit"] {
    background: #55cfab;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
.container_btn {
    display: flex;
    justify-content: center;
}
.container_img img {
    background: #EDC800;
    padding: 3px 3px;
    /* box-shadow: 1px 3px 3px #b2b2b2; */
    cursor: pointer;
}
/*slider cars*/
.container_img_lenta{
    /* height: 9999px; */
    position: relative;
}
.img_lenta{
    height: 500px;
    overflow: hidden;
}
.navigation_car {
    text-align: center;
    cursor: pointer;
}
.titleDop {
    font-size: 20px;
    font-weight: 600;
    color: #55cfab;
}
.listDopParams {
    font-size: 18px;
    font-style: italic;
    color: #fff;
}
.selectParams h2 {
    color: #fff;
    text-align: center;
}
.selectParams {
    color: #fff;
}
.dopService h2 {
    color: #fff;
    text-align: center;
}
.totalIconImg {
    width: 45px;
}
.imgBottom {
    transform: rotate(180deg);
}
.inputtelstyle {
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #55cfab;
    margin: 4px 0px;
}


.container-car-calc {
    position: relative;
}

.statusStyle{
    background: #55cfab;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    display: inline-block;
    padding: 30px 0px;
    z-index: 9;
    font-size: 25px;
    transition: all 0.5s;
}

.numberDay {
    font-size: 20px;
}

/*edit list cars*/
.container_img {
    position: relative;
}
.wrapImg {
    position: absolute;
    width: 100%;
    text-align: center;
    background: #000000b5;
    color: #fff;
    padding: 5px 0px;
}
.container_days > div {
    color: #fff;
    border: 1px solid #eee;
    background: #55cfab;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.container_days > div:hover {
    background: #343a40;
}
.container_days {
    display: flex;
}
span.subtext {
    display: block;
    max-width: 200px;
    font-size: 14px;
    font-style: italic;
}

.container_days_active {
    background: #343a40 !important;
}
.dopService {
    max-width: 500px;
    width: 100%;
}
.price {
    text-align: center;
    font-size: 35px;
}
.container_dop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c8c8c8;
}

.dop__price {
    font-weight: 800;
}
.dop__title {
    max-width: 346px;
}
.container_price_number_day {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectParams {
    color: #000;
}
.selectParams h2 {
    color: #000;
}
.selectParams {
    display: flex;
    justify-content: center;
    align-items: center;
}